<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="User" junit="true">
        <classes>
            <class name="com.yodoo.feikongbao.provisioning.User">
                <methods>

                    <include name="addUserAccountExist"/>
                    <include name="addUserAccountIsNull"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>