<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yodoo.feikongbao.provisioning.domain.system.mapper.CompanyFunctionModuleMapper">
    <resultMap id="BaseResultMap"
               extends="com.yodoo.feikongbao.provisioning.common.mapper.BaseMapper.baseCommonResultMap"
               type="com.yodoo.feikongbao.provisioning.domain.system.entity.CompanyFunctionModule">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="function_module_id" jdbcType="INTEGER" property="functionModuleId"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, function_module_id, company_id, status,
        <include refid="com.yodoo.feikongbao.provisioning.common.mapper.BaseMapper.baseCommonColumn"></include>
  </sql>

</mapper>