<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yodoo.feikongbao.provisioning.domain.paas.mapper.EcsTemplateDetailMapper">
    <resultMap id="BaseResultMap"
               extends="com.yodoo.feikongbao.provisioning.common.mapper.BaseMapper.baseCommonResultMap"
               type="com.yodoo.feikongbao.provisioning.domain.paas.entity.EcsTemplateDetail">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="template_id" jdbcType="INTEGER" property="templateId"/>
        <result column="request_code" jdbcType="VARCHAR" property="requestCode"/>
        <result column="request_name" jdbcType="VARCHAR" property="requestName"/>
        <result column="request_value" jdbcType="VARCHAR" property="requestValue"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, template_id, request_code, request_name, request_value,
        <include refid="com.yodoo.feikongbao.provisioning.common.mapper.BaseMapper.baseCommonColumn"></include>
    </sql>

</mapper>