<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yodoo.feikongbao.provisioning.domain.paas.mapper.Neo4jInstanceMapper">
    <resultMap id="BaseResultMap"
               extends="com.yodoo.feikongbao.provisioning.common.mapper.BaseMapper.baseCommonResultMap"
               type="com.yodoo.feikongbao.provisioning.domain.paas.entity.Neo4jInstance">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="initial_username" jdbcType="VARCHAR" property="initialUsername" />
        <result column="initial_password" jdbcType="VARCHAR" property="initialPassword" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="neo4j_name" jdbcType="VARCHAR" property="neo4jName" />
        <result column="status" jdbcType="INTEGER" property="status" />
    </resultMap>
    <sql id="Base_Column_List">
        id, url, initial_username, initial_password, username, password, neo4j_name, status,
        <include refid="com.yodoo.feikongbao.provisioning.common.mapper.BaseMapper.baseCommonColumn"/>
    </sql>

</mapper>