<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yodoo.feikongbao.provisioning.domain.paas.mapper.Neo4jInstanceMapper">
    <resultMap id="BaseResultMap"
               extends="com.yodoo.feikongbao.provisioning.common.mapper.BaseMapper.baseCommonResultMap"
               type="com.yodoo.feikongbao.provisioning.domain.paas.entity.Neo4jInstance">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="neo4j_name" jdbcType="VARCHAR" property="neo4jName"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="port" jdbcType="INTEGER" property="port"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, neo4j_name, ip, port,
        <include refid="com.yodoo.feikongbao.provisioning.common.mapper.BaseMapper.baseCommonColumn"></include>
    </sql>

</mapper>